@model Hospital.Models.Patient

@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Patient</h4>
    <hr />
    <dl class="dl-horizontal well">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DayOfBirth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DayOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TaxCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TaxCode)
        </dd>
    </dl> 
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
